body {
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 930px;
}

#imagem {
    position: fixed;
    top: 4vh;
    left: 2vw;

}

#imagem img {
    width: 15vw;
    min-width: 100px;
    height: 35vh;
    object-fit: cover;
}

.header {
    height: 30%;
}

#header01 {
    width: 19%;
    border: 0px;
    border-right: 6px;
    border-color: rgba(216, 203, 186, 0.4);
    border-style: solid;
}



#header02 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header02 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#header02 div:first-child {
    margin-bottom: 20px;
}

#header02 div:nth-child(2) {
    margin-right: 200px;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header02 div:nth-child(2) span:nth-child(1) {
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}

#header02 div:nth-child(2) span:nth-child(2) {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}

#nome {
    font-size: 80px;
    margin-right: 200px;
}

#programador {
    font-size: 20px;
    margin-right: 200px;

}

.content {
    height: 70%;
}

#content01 {

    background-color: white;
    width: 19%;
    border: 0px;
    border-right: 6px;
    border-color: rgba(216, 203, 186, 0.4);
    border-style: solid;
}

#textinho {
    margin-top: 70px;
    height: 120px;
    display: flex;
    flex-direction: column;
    color: black;
    border: 0px;
    border-bottom: 10px;
    border-color: rgb(250, 235, 215, 0.4);
    border-style: solid;
}

#textinho span:first-child {
    margin-top: 40px;
}

#textinho span {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
}

#habilidades {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0 20px 0 20px;
    border: 0px;
    border-bottom: 10px;
    border-color: rgb(250, 235, 215, 0.4);
    border-style: solid;
}

#habilidades span {
    align-self: center;
    margin-top: 25px;
    text-decoration: underline;
    font-size: 20px;
}

#habilidades ul li {
    padding-top: 10px;

}

#linguas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0 20px 0 20px;


}

#linguas ul li {
    padding-top: 10px;
    list-style: circle;
}

#content02 {
    background-color: white;
    width: 80%;
}

#content02>div {
    margin-left: 60px;
}

#experiencias {
    margin-top: 40px;
    height: 300px;

}

#experiencias>span {
    align-self: center;
    margin-top: 25px;
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 2px;
}

#experiencias>div {
    margin-top: 40px;
}

#bloco {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#bloco>div {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

#bloco>div:first-child>span:first-child {
    font-size: large;
    font-weight: 900;
}

#bloco>div>span:nth-child(2) {
    font-style: italic;
}

#bloco>div:nth-child(3) {
    margin-top: 15px;
    color: rgb(167, 166, 166);
    width: 490px;
}

#educacao {
    margin-top: 40px;
    height: 200px;

}

#educacao>span {
    align-self: center;
    margin-top: 25px;
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 2px;
}

#educacao>div {
    margin-top: 40px;
}
