[submodule "Diw/repo-exemplo"]
	path = Diw/repo-exemplo
	url = https://github.com/ICEI-DIW/trabalho-pratico-semana-03-ArthurMLi.git
[submodule "Diw/trabalho-pratico-semana-03-ArthurMLi"]
	path = Diw/trabalho-pratico-semana-03-ArthurMLi
	url = https://github.com/ICEI-DIW/trabalho-pratico-semana-03-ArthurMLi.git
