[submodule "Diw/trabalho-pratico-semana-03-ArthurMLi"]
	path = Diw/trabalho-pratico-semana-03-ArthurMLi
	url = https://github.com/ICEI-DIW/trabalho-pratico-semana-03-ArthurMLi.git
[submodule "Diw/trabalho-pratico-semana-02-ArthurMLi"]
	path = Diw/trabalho-pratico-semana-02-ArthurMLi
	url = https://github.com/ICEI-DIW/trabalho-pratico-semana-02-ArthurMLi.git
[submodule "Diw/trabalho-pratico-semana-0-ArthurMLi"]
	path = Diw/trabalho-pratico-semana-0-ArthurMLi
	url = https://github.com/ICEI-DIW/trabalho-pratico-semana-02-ArthurMLi.git
[submodule "Diw/trabalho-pratico-semana-01-ArthurMLi"]
	path = Diw/trabalho-pratico-semana-01-ArthurMLi
	url = https://github.com/ICEI-DIW/trabalho-pratico-semana-01-ArthurMLi.git
